---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 79
DisableFormat: false
IndentWidth: 4
TabWidth: 4
UseTab: Never
# SpaceBeforeCpp11BracedList: true
# Cpp11BracedListStyle: false
IndentCaseLabels: false
# AllowShortCaseLabelsOnASingleLine: true
IndentAccessModifiers: false
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: false
BreakBeforeBinaryOperators: All
...
